body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-image: url('../IMAGENES TOURS/fondo-turismo.jpg'); /* Fondo con imagen */
    background-size: cover;
    background-position: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container {
    position: absolute;
    left: 5%;    /*posición del contenedor de Registro*/
    top: 5%; /*posición del contenedor distancia*/
    max-width: 600px; /*tamaño de la tabla*/

    background: rgba(255, 255, 255, 0.9); /* Fondo blanco semi-transparente */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px); /* Efecto de desenfoque */
    transform: translateX(100%); /*Inicia fuera de la pantalla a la derecha*/
    opacity: 0; /*Oculta inicialmente*/
    transition: transform 1.5s ease, opacity 1.5s ease; /* Animación de desplazamiento y aparición */
}
.visible {
    transform: translateX(0); /*Mueve a su posición original*/
    opacity: 1; /*Aparece lentamente*/
}
h1 {
    color: #28a745;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}
form {
    display: flex;
    flex-direction: column;
}
label {
    margin-top: 10px;
    color: #333;
    font-weight: bold;
}
input, select {
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
button {
    background-color: #28a745;
    color: white;
    padding: 12px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 1.1rem;
}
button:hover {
    background-color: #218838;
}
footer {
    margin-top: auto; /* Asegura que el footer se mantenga en la parte inferior */
    padding: 10px;
    background-color: #00494a; /* Fondo blanco para el footer */
    text-align: center;
    width: 100%; /* Asegura que el footer ocupe todo el ancho */
    position: fixed; /* Fija el footer en la parte inferior */
    bottom: 0; /* Asegura que el footer esté en la parte inferior */
    left: -10px; /* Mueve el footer ligeramente a la izquierda para cubrir la imagen */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Sombra opcional para mejorar la visibilidad */
}
footer p {
    margin: 0;
    color: #fff; /* Color del texto del footer */

}
footer hr {
/*    border: 2px solid #fff; /* Borde blanco de 2px */
    width: 100%; /* Asegura que el hr ocupe todo el ancho */
    margin: 0px 0; /* Espaciado arriba y abajo del hr */
}
